<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <img id="logo" src="{{ logo }}"/>
        <br/><br/>
        <h2>Merci pour votre commande</h2>
        <h3>Ci-dessous le détail de votre réservation :</h3>
        <p>Réservation n° : <strong>{{ reservation.id }}</strong></p>
        <p>Pour le : <strong>{{ reservation.dateReservation | date('d-m-Y') }}</strong></p>
        <p>Montant total : <strong>{{ reservation.total }} €</strong></p>
        <p>Vous trouverez vos billets dans le pdf joint à ce mail.</p>
    </body>
</html>






