<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <img id="logo" src="{{ logo }}"/>
        </br>
        <h2>Votre réservation n° : {{ reservation.id }} d'un montant de {{ reservation.total }} € a bien été validée.</h2>
    </body>
</html>






