
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Vos billets</title>
    </head>
    <body>
        <h2>Test envoi mail</h2>
    </body>
</html>