{# src/Louvre/BilletterieBundle/Ressources/views/Billet/achat.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}
    <div class="container-fluid col-md-offset-1 col-md-10" id="corpsAchat">
        <ul class="nav nav-tabs" id="tab">
            <li class="nav col-md-3 active"><a href="#jour" id="ongletJour" data-toggle="tab">Jour de la visite</a></li>
            <li class="nav col-md-3"><a href="#billet" id="ongletBillet" data-toggle="tab">Vos billets</a></li>
            <li class="nav col-md-3"><a href="#coordonnees" data-toggle="tab">Vos coordonnées</a></li>
            <li class="nav col-md-3"><a href="#paiement" data-toggle="tab">Paiement</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="jour">
                <br/>
                <label for="date">Date de la visite :</label>
                <input type="text" id="dateVisite" class="datepicker"><span class="alert-danger" id="erreurDate"></span>
            </div>

            <div class="tab-pane" id="billet">
                <br/>

                <h4 id="dateChoisie">Billet(s) pour le : </h4>

                <div class="container-fluid">
                    <div class="col-md-6">
                        <label><em>Renseigner les informations du billet :</em></label>
                        <div class="well">
                            <div id="Billets" data-prototype="{{ form_widget(form.billets.vars.prototype)|e }}">
                                {% for billet in form.billets %}
                                    {{ form_widget(billet) }}
                                {% endfor %}
                            </div>
                            <a class="btn btn-primary add-billet" href="#">Ajouter un nouveau billet</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label><em>Récapitulatif des billet :</em></label>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="coordonnees">
                <br/>
                <h4 id="titreCoordonnees">Vos coordonnées :</h4>
                <form role="form" class="form-horizontal container-fluid">
                    <div class="form-inline row col-md-12">
                        <label class="control-panel col-md-3" for="nom">Nom : </label>
                        <input type="text" class="form-control" id="nom" placeholder="Entrez votre nom">
                        <span class="alert-danger" id="erreurNom" hidden="hidden"> * Veuillez entrer votre nom</span>
                    </div>
                    <div class="form-inline row col-md-12">
                        <label class="control-panel col-md-3" for="prenom">Prénom : </label>
                        <input type="text" class="form-control" id="prenom" placeholder="Entrez votre prénom">
                        <span class="alert-danger" id="erreurPrenom" hidden="hidden"> * Veuillez entrer un prénom</span>
                    </div>
                    <div class="form-inline row col-md-12">
                        <label class="control-panel col-md-3" for="email">E-mail : </label>
                        <input type="email" class="form-control" id="email" placeholder="Entrez votre E-mail">
                        <span class="alert-danger" id="erreurEmail" hidden="hidden"> * Veuillez entrez un Email valide</span>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="paiement">
                <br/>
                <h3>PAYER</h3>
            </div>
        </div>

        <button type="button" class="btn btn-default" id="btnPrecedent" href="#" style="display: none">Précédent</button>
        <button type="button" class="btn btn-default pull-right" id="btnSuivant" href="#">Suivant</button>
    </div>
    <script>
        $(document).ready(function() {
            // Vérification des champs input
            $('[data-toggle="tab"]').click(function (e) {
                // On vérifie que la date est choisie
                if ($('#dateVisite')[0].value === ""){
                    $('#erreurDate')[0].innerHTML = "  * Veuillez entrer un date";
                    e.preventDefault();
                    return false;
                }
            });

            // On efface le message d'erreur date quand on revient sur l'onglet
            $('#dateVisite').click(function () {
                $('#erreurDate')[0].innerHTML = "";
            });

            // Récupération de la date de visite du 1er => 2ème onglet
            $(document).on( 'shown.bs.tab', 'a', function (e) {
                if ($(e.target)[0].id == 'ongletBillet') {
                    var dateRecup = $(e.relatedTarget).parent().closest('#corpsAchat').find('#dateVisite')[0].value;
                    $(e.target).parent().closest('#corpsAchat').find('#dateChoisie')[0].innerHTML = "Billet(s) pour le : "
                    + dateRecup;
                }
            });

            // initialisation du DatePicker
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy"
            });

            // Gestion du bouton "Suivant"
            $('#btnSuivant').click(function () { // A chaque click du bouton suivant
                // On recherche la balise suivante
                var ongletActif = $('.nav-tabs > .active').next('li').find('a');

                // On affiche l'onglet suivant en triggant le click su la balise <a>
                ongletActif.trigger('click');

                // On n'affiche pas le bouton précédent si on se trouve sur l'onglet "Jour de la visite"
                if (ongletActif[0].hash != "#jour" && $('#dateVisite')[0].value !== "") {
                    $('#btnPrecedent').show();
                }

                // Si l'onglet suivant est le dernier
                if (ongletActif[0].hash == "#paiement") {
                    // on change le texte du bouton
                    $('#btnSuivant')[0].innerText = "Payer";
                }
            });

            // Gestion du bouton "Précédent"
            $('#btnPrecedent').click(function () { // A chaque click du bouton précédent
                // On recherche la balise précédente
                var ongletActif = $('.nav-tabs > .active').prev('li').find('a');

                // On affiche l'onglet précédent en triggant le click su la balise <a>
                ongletActif.trigger('click');

                // Si l'onglet actif est le 1er
                if (ongletActif[0].hash == "#jour") {
                    $('#btnPrecedent').hide(); // on cache le bouton "précédent"
                }

                // Si l'onglet actif n'est pas l'onglet "paiement"
                if (ongletActif[0].hash != "#paiement") {
                    $('#btnSuivant')[0].innerText = "Suivant"; // On change le texte du bouton
                }
            });

            $('.add-billet').click(function (e) {
                e.preventDefault();
                var billets = $('#Billets');
                var billet = billets.data('prototype');
                var newBillet = $('<div></div>').html(billet);

                newBillet.appendTo(billets);
            })
        })
    </script>
{% endblock %}