{# src/Louvre/BilletterieBundle/Ressources/views/Billet/achat.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}
    <div class="container col-md-offset-2 col-md-8" id="corpsAchat">
        <ul class="nav nav-tabs" id="tab">
            <li class="nav col-md-3 active"><a href="#jour" data-toggle="tab">Jour de la visite</a></li>
            <li class="nav col-md-3"><a href="#billet" data-toggle="tab">Vos billets</a></li>
            <li class="nav col-md-3"><a href="#coordonnees" data-toggle="tab">Vos coordonnées</a></li>
            <li class="nav col-md-3"><a href="#paiement" data-toggle="tab">Paiement</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="jour">
                <br/>
                <label for="date">Date de la visite :</label>
                <input type="text" id="datepicker" class="datepicker">
            </div>

            <div class="tab-pane" id="billet">
                <br/>
                <h4>Billet(s) pour le : </h4><span></span>
                <label><em>Renseigner les informations du billet :</em></label>
                <div class="table-responsive">
                    <table class="table table-borderded">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Pays</th>
                                <th>Date de Naissance</th>
                                <th>Type de billet</th>
                                <th>Tarif réduit</th>
                                <th>Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" id="nomBillet">
                                </td>
                                <td>
                                    <input type="text" id="prenomBillet">
                                </td>
                                <td>
                                    <input type="hidden" data-role="country-selector" value="FRA" />
                                </td>
                                <td>
                                    <input type="date" id="naissanceBillet">
                                </td>
                                <td>
                                    <select type="form-control" id="typeBillet">
                                        <option value="journee">Journée</option>
                                        <option value="demiJournee">Demi-journée</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="checkbox" id="reduitBillet">
                                </td>
                                <td>
                                    <p id="prixBillet">xx €</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane" id="coordonnees">
                <br/>
                <h4 id="titreCoordonnees">Vos coordonnées :</h4>
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-panel col-sm-2" for="nom">Nom : </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nom" placeholder="Entrez votre nom">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-panel col-sm-2" for="prenom">Prénom : </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="prenom" placeholder="Entrez votre prénom">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-panel col-sm-2" for="email">E-mail : </label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Entrez votre E-mail">
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="paiement">
                <br/>
                <h3>PAYER</h3>
            </div>
        </div>
        <button type="button" class="btn btn-default" id="btnPrecedent" href="#" style="display: none">Précédent</button>
        <button type="button" class="btn btn-default pull-right" id="btnSuivant" href="#">Suivant</button>
    </div>
    <script>
        $(function() {
            $('.datepicker').datepicker();

            $('#btnSuivant').click(function () {
                $('.nav-tabs > .active').next('li').find('a').trigger('click');
                $('#btnPrecedent').show();
            });

            $('#btnPrecedent').click(function () {
                $('.nav-tabs > .active').prev('li').find('a').trigger('click');
            });
        });
    </script>
{% endblock %}