{# src/Louvre/BilletterieBundle/Ressources/views/Billet/apropos.html.twig#}

{% extends "::layout.html.twig" %}

{% block body %}
    <div>
        {{ reservation.id }}
        {% for billet in reservation.billets %}
            {{ billet.id }}
        {% endfor %}
    </div>
    <a class="btn" href="{{ path('louvre_billetterie_achat_paiement', {'id' : reservation.id}) }}">Retour</a>
{% endblock %}