{# src/Louvre/BilletterieBundle/Ressources/views/Billet/index.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-6 colonneHomepage">
            <h1 class="titreHomepage">Visites guidées</h1>
            <p class="paraHomepage">Les visites guidées du Louvre sont conduites par les conférenciers des Musées Nationaux. Que vous veniez pour la première fois ou que vous soyez un habitué, trouvez la visite qui vous correspond, parmi le large choix de thématiques qui vous est proposé.
                La visite Chefs d’œuvre du Louvre vous permet de découvrir les œuvres les plus célèbres du musée.
                Vous pouvez également explorer le musée autour d'un thème particulier de l’histoire de l’art, d'une période, d'un genre, d'un artiste, d'une collection, ou les expositions temporaires grâce aux  visites conférences.
                Si vous souhaitez approfondir vos connaissances autour d’un sujet, des cycles de visites sont également proposés en 3 ou 5 séances.
                Des activités spécifiques sont également proposées aux visiteurs en situation de handicap en lien avec l'actualité des collections ou des expositions temporaires : visites decriptives et tactiles, visites en langue des signes français (LSF), visites en lecture labiale (LL).
            </p>
            <img class="imageHomepage img-responsive" src="{{ asset('bundles/louvrebilletterie/image/louvre03.jpg') }}"/>
        </div>
        <div class="col-md-6 colonneHomepage">
            <img class="imageHomepage img-responsive" src="{{ asset('bundles/louvrebilletterie/image/louvre04.png') }}"/>
            <h1 class="titreHomepage">Ateliers adultes et enfants</h1>
            <p class="paraHomepage">Les ateliers du Louvre vous proposent un large choix d'approches artistiques pour découvrir les collections du musée sous la conduite d’un artiste spécialiste.
                Si vous souhaitez approfondir davantage une pratique, des cycles d’ateliers pour adultes vous sont également proposés, où se conjuguent théorie, pratique artistique  et observation des œuvres dans les salles du musée.
                Si vous préférez découvrir les oeuvres en familles à travers des histoires merveilleuses, les contes sont faits pour vous !
             </p>
        </div>
    </div>
{% endblock %}