{# src/Louvre/BilletterieBundle/Ressources/views/Billet/index.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-6 colonneHomepage">
            <h1 class="titreHomepage">TITRE 1</h1>
            <p class="paraHomepage">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc feugiat nulla quis metus molestie, sit amet luctus mauris placerat.
                Etiam in est non augue tempus luctus. Mauris tincidunt, nisi sed faucibus tristique,
                ipsum nisi interdum erat, non efficitur nunc velit a ligula.
                Praesent pellentesque diam sit amet elementum tempus.
                Etiam vel consectetur nulla, quis sodales ligula. Cras eget sagittis sem.
                Donec feugiat pulvinar odio, ac dignissim nunc tempus eu.
                Nunc eu neque congue, tincidunt ligula sed, dictum est. Aliquam erat volutpat.
                Duis vitae eleifend turpis, et luctus velit.
                Vestibulum convallis sem sed turpis lobortis, sit amet dignissim dolor tincidunt.
            </p>
            <img class="imageHomepage img-responsive" src="{{ asset('bundles/louvrebilletterie/image/louvre03.jpg') }}"/>
        </div>
        <div class="col-md-6 colonneHomepage">
            <img class="imageHomepage img-responsive" src="{{ asset('bundles/louvrebilletterie/image/louvre04.png') }}"/>
            <h1 class="titreHomepage">TITRE 2</h1>
            <p class="paraHomepage">Morbi nunc felis, tincidunt ac fermentum at, malesuada a dolor. Aliquam porta commodo ipsum in sagittis.
                Donec eu quam eget leo venenatis pulvinar. Quisque quis molestie risus.
                Morbi varius velit ligula, in tempor mauris ultrices in.
                Pellentesque rutrum facilisis leo in feugiat. Fusce dictum ultricies lectus,
                in scelerisque urna finibus a. Vivamus laoreet rutrum nisi semper vestibulum.
             </p>
        </div>
    </div>
{% endblock %}