#conteneur {
    width: auto;
    height: 150px;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

#logo {
    display: inline-block;
    vertical-align: center;
}

#img_logo {
    width: 100px;
}


table {
    display: inline-block;
    width: 65%;
    margin-top: 0;
}

th {
    height: 20px;
}

th, td {
    width: 250px;
}

td {
    text-align: center;
}

#qrCode {
    display: inline-block;
    margin: 0;
}

#qr_image {
    width: 80%;
}

