#conteneur {
    width: auto;
    height: 105px;
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 10px;
}

#logo {
    display: inline-block;
    vertical-align: center;
    width: 10%;
}

#img_logo {
    height: 100px;
}


table {
    display: inline-block;
    width: 65%;
    margin-left: 20px;
}

th {
    height: 20px;
}

th, td {
    width: 250px;
}

td {
    text-align: center;
}

#qrCode {
    display: inline-block;
    width: 8%;
    margin-left: 60px;
}

#qr_image {
    width: 50%;
}

