#logo {
    width: 100%;
    overflow: hidden;
}

.navbar {
    background-color: #777777;
    margin-bottom: 0;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav>li{
    text-align: center;
    float:none;
}

a {
    color: black;
}

#content {
    background-color: #DDDDDD;
}

h1{
    text-align: center;
}

p {
    text-align: justify;
}

#copyright {
    text-align: center;
    background-color: #777777;
}

.imageHome {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-responsive {
    margin: 0 auto;
}

.colonneHomepage {
    margin-top: 50px;
    margin-bottom: 50px;
}

#corpsAchat {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #eeeeee;
    height: 400px;
}

.tab-content {
    height: 358px;
}

#nomBillet, #prenomBillet, #paysBillet, #naissanceBillet, #typeBillet {
    height: 26px;
}

#paysBillet {
    width: 50px;
}

table {
    table-layout: fixed;
}