#logo {
    width: 100%;
    overflow: hidden;
}

.navbar {
    background-color: #777777;
    margin-bottom: 0;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav>li{
    text-align: center;
    float:none;
}

a {
    color: black;
}

#content {
    background-color: #DDDDDD;
}

h1{
    text-align: center;
}

p {
    text-align: justify;
}

#copyright {
    text-align: center;
    background-color: #777777;
}

.imageHome {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-responsive {
    margin: 0 auto;
}

.colonneHomepage {
    margin-top: 50px;
    margin-bottom: 50px;
}

#corpsAchat {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #eeeeee;
}

.tab-content {
    height: auto;
}

.table-responsive {
    width: auto;
}

#tableBillet>tr {
    text-align: center;
}

.champsBillet {
    display: inline-block;
}

#detailBillet input, select {
    height: 23px;
    width: 95%;
}

input[type=checkbox] {
    transform: scale(0.5);
    vertical-align: middle;
}

#detailBillet label {
    display: block;
    text-align: center;
    font-size: x-small;
    margin-bottom: 0;
    margin-top: 10px;
}

.col-md-2 {
    margin: 0;
    padding: 0;
}

.form-inline label, input {
    display: inline-block;
}

#coordonnees label {
    height: 34px;
}

.datepicker {
    margin-top: 25px;
}

.tab-pane {
    min-height: 350px;
}

#content {
    min-height: 550px;
}

.btn-primary {
    margin-top: 10px;
}

.billet {
    margin-top: 10px;
}

#dateVisite {
    width: 300px;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: center;
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    padding: 10px;
}

#labelReduit {
    font-weight: bold;
}

p {
   text-align: center;
}